/*area-cliente*/
#saldo-div{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

#saldo-div p{
    background-color: #ff9900;
    padding: 5px;
    color: #fff;
}

#dados-div{
    display: flex;
}

#dados-div div{
    margin-right: 10px;
}

#dados-agencia{
    color: #fff;
    background-color: #ff9900;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
}

#dados-conta{
    color: #fff;
    background-color: #ff9900;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

#logout{
    display: flex;
    align-items: end;
    margin-bottom: 13px;
}

#logout img{
    background-color: #ff9900;
    padding: 7px;
}

button {
    float: right;
    margin-left: 10px;
    margin-top: 50px; 
}

.botoes{
    margin-left: 50px;
    font-size: 20px;
}

#botao{
    background-color: #F0AD4E;
    color: #fff;
    border: #F0AD4E 1px solid;
    cursor: pointer;
}

#botao2 {
    margin-top: 20px;
    background-color: #F0AD4E;
    color: #fff;
    border: #F0AD4E 1px solid;
    cursor: pointer;
}

#campo{
    text-align: center;
}

#saldo-div{
    margin-top: 30px;
}